<!DOCTYPE html>
<html>
<head>
<title>search in javascript</title>
<link rel="stylesheet" href="{{url_for('static',filename='homeopathy.css')}}">

</head>
<body>
<div class="container-fluid">
<div class="container">
<div class="search">
<input type="text" name="" id="find" placeholder="search here...." onkeyup="search()">
</div>
<div class="product-list">
  <div class="product">
    <img class="image" src="/static/images/ho1.jpg">
    <h3>INABILITY TO SUCK</h3>
    <p>6c potency is typically used for long standing conditions, such as rheumatic pain. 30c (or higher) potency is typically used for first aid or acute situations, such as the onset of a cold or bruising after a knock or fall. Flower remedies traditionally use a 5x potency.</p>
  </div>
  <div class="product">
    <img class="image" src="/static/images/homeo1.jpg">
    <h3>INFENTILE TUBERCULOSIS</h3>
    <p>Calcarea Phosphorica, commonly known as Calc. Phos., is a key homeopathic remedy with a versatile range of applications. Derived from the mineral compound calcium phosphate, this remedy is primarily associated with promoting bone health and aiding in the absorption of essential minerals, particularly calcium and phosphorus.</p>
  </div>
  <div class="product">
    <img class="image" src="/static/images/ho3.jpg">
    <h3>INABILITY TO DIGEST</h3>
    <p>Arsenic can be easily enriched in air particulate matter and has been identified to be associated with many of diseases, including lung cancer. Tiered data regarding arsenic in ambient air particulate matter is limited in China, particularly data from small cities and rural areas.</p>
  </div>
  <div class="product">
    <img class="image" src="/static/images/ho4.webp">
    <h3>URINARY DISEASE</h3>
    <p>Dr. Reckeweg Uranium Nitricum Dilution is a homeopathic medicine which is helpful in increased sugar levels and blood pressure. Its natural formulation comprises of genuine raw materials and is free from impurities. It is useful in treating diabetes and high blood pressure and fatty liver conditions.</p>
  </div>
  <div class="product">
    <img class="image" src="/static/images/ho5.webp">
    <h3>RED NOSE</h3>
    <p>Dr. Reckeweg Apis Mel Dilution acts on mucous membrane and skin with swelling and effusions. It helps against swelling in inner linings of certain organs and membranes. It is also a good medicine for treating kidney inflammation and certain skin ailments.
    </p>
  </div>
  <div class="product">
    <img class="image" src="/static/images/ho6.jpg">
    <h3>DARK RED NOSE</h3>
    <p>Carbo Veg is effective in old people with congestion in veins, intestinal infection, vomiting, headache and diarrhoea. It helps in easing out stomach cramps, abdominal pain and chest oppression due to flatulence. It helps in preventing gum infection, swelling and bad smell from mouth.</p>
  </div>
  <div class="product">
    <img class="image" src="/static/images/ho7.jpg">
    <h3>NOSE SWELLING</h3>
    <p>Mercurius Solubilis 30C Md is a homeopathic medicine that relieves sore throat with bad breath and excess salivation</p>
  </div>
  <div class="product">
    <img class="image" src="/static/images/HO8.jpg">
    <h3>WOUNDS IN THE NOSE</h3>
    <p>is an effective homoeopathic remedy which is primarily used for the treatment of skin disorders caused due to splinters and provides effective relief from pain associated with it. It is also helpful in healing ulcers of the mouth and blisters on the tongue and genitals which causes profuse bleeding. Pain in the rectum associated with proctalgia and bleeding from the anus can also be effectively treated with the use of this remedy. </p>
  </div>
  <div class="product">
    <img class="image" src="/static/images/ho9.jpg">
    <h3>PUSSY PIMPLES ON THE NOSE</h3>
    <p> Petroleum has a magnificent action on skin. It treats eczema, psoriasis, skin cracks, chilblains, athlete’s foot and intertrigo. It is preferred for treating eczema  when there are deep cracks on the skin. It works well in dry eczema and also when vesicular (fluid filled) eruptions are present that ooze pus and form thick scabs. There may be roughness, hardness and thickening of skin. </p>
  </div>
  <div class="product">
        <img class="image" src="/static/images/HO10.webp">
        <h3>NOSE BLEEDING IN CHILD</h3>
        <p> treating various types of bleeding disorders. It is useful in treating vertigo. It is also helpful in curing painful varicose veins. Millefolium is also a useful remedy for patients who are recovering from the operation of stones. </p>
  </div>
  <div class="product">
    <img class="image" src="/static/images/ho11.jpg">
    <h3>REDNESS OF THE EYES AND FACE</h3>
    <p> Belladonna Dilution is a homoeopathic remedy which has a potent effect on the nervous system and can be used to treat convulsion and relieve pain in various parts of the body. It has a marked effect on the respiratory system and is helpful in the treatment of spasmodic cough and bronchitis.</p>
  </div>
  <div class="product">
    <img class="image" src="/static/images/ho12.jpg">
    <h3>CONSTIPATION</h3>
    <p>Nux Vomica is used to cure a number of issues such as uncontrollable anger, irritability, constipation, nausea, vomiting, colic joint pains and other related issues. Nux Vomica is extremely helpful in correcting depressed thoughts.</p>
  </div>
  <div class="product">
    <img class="image" src="/static/images/ho13.jpg">
    <h3>TYPHOID </h3>
    <p>Bryonia Uses. Bryonia (B. alba), also known as bryony , is a plant commonly used as a homeopathic remedy for headaches, muscle pain, cold or flu symptoms, cough, nausea, and constipation. It's also sometimes used to relieve symptoms of chronic conditions such as arthritis, cancer, liver disease, and metabolic disorders</p>
  </div>
  <div class="product">
    <img class="image" src="/static/images/HO14.jpg">
    <h3>SIMPLE FEVER</h3>
    <p>It is highly effective in treating weakness of the body and provides relief from initial stages of cold. Camphora is used as a heart health tonic as it increases blood flow and improves heart functions. Highly useful for people suffering from headache with fever and body pains and helps relieve blocked nose.</p>
  </div>
  <div class="product">
    <img class="image" src="/static/images/HO15.webp">
              <h3>SHIVERING</h3>
              <p>In homeopathy, arsenicum album (Arsenic. alb.) is a solution prepared by diluting aqueous arsenic trioxide generally until there is little amounts of Arsenic remaining in individual doses. It is used by homeopaths to treat a range of symptoms that include digestive disorders and, as an application of the Law of Similars, has been suggested by homeopathy as a treatment for arsenic poisoning.</p>
    </div> 
    <div class="product">
      <img class="image" src="/static/images/ho16.webp">
      <h3>COLDNESS</h3>
      <p>This homeopathic remedy is prepared from a venomous lizard called Gila Monster.It is given in all states that have a severe level of coldness like that felt in the arctic regions.Colicky pains from the base of the head till the feet or in reverse direction.</p>
    </div> 
    <div class="product">
      <img class="image" src="/static/images/HO17.jpg">
      <h3>EXCESSIVE SNEEZING</h3>
      <p>Allium Cepa is known for its anti-inflammatory properties. It is indicated for acute corzya with heavy nasal discharge, with itching in the nose, nasal obstruction, naso-pharynx, headache, and disturbance of sleep and appetite.</p>
    </div> 
    <div class="product">
      <img class="image" src="/static/images/HO18.jpg">
      <h3>ELEPHANTIASIS</h3>
      <p>It has a mild laxative effect and is used as tonic for seminal weakness and nervous debility. It is an excellent drug for leprosy, gonorrhoea, leucorrhoea, jaundice and many types of skin diseases. It is also useful for treating all types of syphilitic skin diseases.</p>
    </div> 
    <div class="product">
      <img class="image" src="/static/images/HO19.png">
      <h3>HAIR FALL</h3>
      <p>Fluoric Acid is one of the best homeopathic medicines to treat cases of hair fall. It gives brilliant results in cases of general hair fall as well as hair loss in spots </p>
    </div> 
    <div class="product">
      <img class="image" src="/static/images/HO20.webp">
      <h3>NOSE BLEED IN ADULTS</h3>
      <p>Aconitum napellus is the first homeopathic medicine to consider at the onset of acute croup</p>
    </div> 
  </div>
</body>
</html>
</div>
</div>
</div>
<!-- javascript -->
<script type="text/javascript">
function search() {
let filter = document.getElementById('find').value.toUpperCase();
let item = document.querySelectorAll('.product');
let l = document.getElementsByTagName('h3');
for(var i = 0;i<=l.length;i++){
let a=item[i].getElementsByTagName('h3')[0];
let value=a.innerHTML || a.innerText || a.textContent;
if(value.toUpperCase().indexOf(filter) > -1) {
item[i].style.display="";
}
else
{
item[i].style.display="none";
}
}
}
</script>
</body>
</html>